/* Color palette */
:root {
  --cream: #F6F4EB;
  --warm-blue: #91C8E4;
  --gray-blue: #749BC2;
  --steel-blue: #4682A9;
  --black: #000000;
}

.absolute {
  position: absolute;

}

.sticky {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.custom-navbar {
  background-color: transparent;
  background-opacity: 1; /* Note: This may need to be handled differently in CSS */
  backdrop-filter: blur(10px); /* Adjust the blur value as needed */
  -webkit-backdrop-filter: blur(10px); /* Added for Safari support */
}


.link {
  color: var(--black);
  text-decoration: none;
  margin: 0 15px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.link:hover {

  text-decoration: underline;
}

.App {
  text-align: center;
  background-color: var(--cream);
}

.App-header {
  min-height: 100vh;
  padding: 100px 20px 20px; /* Added top padding to avoid overlap with the navbar */
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: var(--black);
  margin-top: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  background-color: var(--steel-blue);
  color: var(--cream);
  font-size: 1.2rem;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}



.navbar .right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .right a:last-child {
  margin-left: 20px;
  font-weight: bold;
  font-size: 1.4rem;
}

.section-heading {
  color: var(--black);
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.section-text, p {
  color: var(--black);
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
}

.About-section, .Services-section, .SignIn-section, .Testimonials-section, .Contact-section {
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
  padding: 40px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.About-section, .Services-section, .Testimonials-section, .Contact-section {
  background-color: var(--white);
  border-top: 4px solid var(--steel-blue); /* Blue line separator */
  border-bottom: 4px solid var(--steel-blue);
}

.About-section h2,
.Services-section h2,
.SignIn-section h2,
.Testimonials-section h2,
.Contact-section h2 {
  color: var(--steel-blue);
  font-size: 1.8rem;
}

.About-section p,
.Services-section p,
.SignIn-section p,
.Testimonials-section p,
.Contact-section p {
  color: var(--black);
  font-size: 1.2rem;
  line-height: 1.8;
}

.About-section,
.Services-section,
.Testimonials-section,
.Contact-section {
  text-align: left;
}

.SignIn-section {
  text-align: center;
}

.btn {
  padding: 12px 24px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  background-color: var(--warm-blue);
  color: var(--black);
  border: 2px solid var(--steel-blue);
}

.btn:hover {
  background-color: var(--gray-blue);
  color: var(--cream);
  border-color: var(--warm-blue);
}
